.navbar {
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar a {
    padding: 2rem;
    font-size: 2rem;
    background: #1a1a1a;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: rgb(247, 246, 239);
    text-align: center;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .navbar a .icon {
    color: crimson;
    padding-right: .5rem;
  }
  
  .navbar a:hover {
    background: crimson;
    padding-bottom: 6rem;
  }
  .navbar a:focus{
    background: crimson;
    
  }
  .navbar a:hover .icon{
    color: rgb(247, 246, 239);
  }
  .navbar a:focus .icon{
    color: rgb(247, 246, 239);
  }


  @media (max-width: 768px) {
    .navbar a i {
      padding: 0;
    }
    .navbar a span {
      display: none;
    }
    .navbar a:hover {
      padding-bottom: 2rem;
    }
  }