.blogs .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr)) [auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
  }
  
  .blogs .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    background: #1a1a1a;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  }
  
  .blogs .box-container .box:hover .image img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  .blogs .box-container .box .image {
    height: 25rem;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
  }
  
  .blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .blogs .box-container .box .content .icons {
    position: relative;
    top: -1rem;
    border-radius: .5rem;
    padding: 1.5rem;
    display: inline-flex;
    align-items: center;
    background: #0d0d0d;
  }
  
  .blogs .box-container .box .content .icons a {
    font-size: 1.4rem;
    margin: 0 1rem;
    color: rgb(247, 246, 239);
  }
  
  .blogs .box-container .box .content .icons a:hover {
    color: crimson;
  }
  
  .blogs .box-container .box .content .icons a .icn {
    height: 2rem;
    width: 2rem;
    padding-right: .5rem;
    color: crimson;
  }
  
  .blogs .box-container .box .content h3 {
    font-size: 2rem;
    color: rgb(247, 246, 239);
    font-weight: normal;
  }
  
  .blogs .box-container .box .content p {
    font-size: 1.5rem;
    color: rgb(247, 246, 239);
    padding: 1rem 0;
    line-height: 2;
  }