@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
  
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  font-weight: 400;
  /* width: 100vw; */
  /* outline: 1px solid black; */
  
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
 
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: rgb(247, 246, 239);
}

html::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5rem;
}

body {
  background: rgb(247, 246, 239);
  padding-bottom: 6.5rem;
}
section {
  padding: 5rem 9%;
}


.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: crimson;
}
.btn {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  border-radius: 5rem;
  background: crimson;
  padding: .7rem;
  font-size: 1.7rem;
  color: rgb(247, 246, 239);
  padding-left: 2rem;
}

.btn .icon {
  height: 2rem;
  width: 2rem;
  line-height: 4rem;
  font-size: 1.7rem;
  padding: 1rem;
  text-align: center;
  background: rgb(247, 246, 239);
  color: crimson;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover .icon {
  margin-left: 2rem;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}



@media (max-width:768px) {
  .heading {
    font-size: 12vw;
  }
}


@media (max-width:1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
